.tag-name-button {
  background-color: transparent;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  border-color: transparent;
  border: 2px solid #f3aa4e;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px 5px 10px;
}

.tab-button-active {
  background-color: #f3aa4e;
  color: #ffffff;
  font-weight: bold;
  font-size: 15px;
  border-color: transparent;
  border: 2px solid #f3aa4e;
  border-radius: 5px;
  margin: 5px;
  padding: 5px 10px 5px 10px;
}
